.banner {
  height: 100vh;
  position: relative;
  padding-top: 40px;
}

.banner h1 {
  color: white;
  text-align: center;
  position: relative;
}
.banner h1::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  background-color: var(--secondary-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.about {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  z-index: 100;
  padding-left: 150px;
}

.about div {
  z-index: 100;
}

.about div p {
  font-size: 20px;
  color: #b4becc;
  padding: 10px;
  background-color: var(--background);
}
.about div div:first-child p {
  font-size: 55px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.about div p span {
  color: var(--secondary-color);
}
.about p b {
  color: white;
}
.about button {
  z-index: 1;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 30px;
  font-family: sans-serif;
  cursor: pointer;
  background-color: #e34972;
}
.about button:hover {
  background-color: #e34972;
}
.svg {
  flex: 1;
}
.svg img {
  width: 300px;
}

.big-circle {
  width: 1100px;
  aspect-ratio: 1/1;
  border: white solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -200px;
  right: -300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-circle {
  width: 500px;
  aspect-ratio: 1/1;
  border: white solid 1px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-circle div {
  transform: rotate(-20deg);
  text-align: center;
  color: #333437;
}

.small-circle div p:nth-child(1) {
  font-size: 40px;
  font-weight: 900;
}
.small-circle div p:nth-child(2) {
  font-size: 110px;
  font-weight: 900;
  width: max-content;
}

@media screen and (max-width: 1000px) {
  .banner {
    height: 80vh;
  }
  .svg {
    display: none;
  }
  .big-circle {
    width: 900px;
  }
  .small-circle {
    width: 400px;
  }
  .small-circle div {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .banner {
    height: auto;
    padding-top: 120px;
  }
  .banner .about {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .about div p {
    font-size: 17px;
  }
  .about div div:first-child p {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .about button {
    padding: 15px 50px;
    border-radius: 30px;
  }

  .about-br {
    display: none;
  }

  .big-circle,
  .small-circle {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .about div div:first-child p {
    font-size: 25px;
  }

  .about button {
    padding: 15px 50px;
    border-radius: 30px;
  }
}
