.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2000000;
    border-radius: 20px;
    overflow: hidden;
}

.card img {
    width: 500px;
    height: 700px;
    object-fit: cover;
    transition: 0.5s;
}

.card > div {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}
.card:hover div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}
.card div button span {
    margin-left: 10px;
}
.card div .buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.card div .buttons button {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: sans-serif;
    cursor: pointer;
}
.card div div button a {
    color: inherit;
    text-decoration: none;
}
