.skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    color: black;
}
.skills h1 {
    position: relative;
    color: var(--headers-color);
    font-size: 45px;
}
.skills h1::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    background-color: var(--secondary-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.skills .languages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
}
.skills .languages > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 120px;
    flex-direction: row;
}
.skills .languages div div {
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
}
.skills img {
    width: 70px;
    transition: 0.4s;
}

@media screen and (max-width: 900px) {
    .skills h1 {
        font-size: 35px;
    }
    .skills img {
        width: 50px;
    }
}

@media screen and (max-width: 570px) {
    .skills {
        height: 80vh;
    }
    .skills img {
        width: 30px;
    }
    .skills .languages > div {
        gap: 70px;
    }
}
