.skills {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    color: black;
}
.skills h1 {
    position: relative;
}
.skills h1::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    background-color: var(--secondary-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.skills .languages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 60vw;
    margin: auto;
    flex-wrap: wrap;
}
.skills .languages > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 120px;
    flex-direction: row;
}
.skills .languages div div {
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
}
.skills img {
    width: 70px;
    transition: 0.4s;
}

@media screen and (max-width: 900px) {
    .skills {
        padding-top: 50px;
    }
    .skills > div {
        margin: 100px 0;
        max-width: 80vw;
    }
}

@media screen and (max-width: 670px) {
    .skills {
        padding-top: 20px;
    }
    .skills > div {
        margin-top: 50px;
    }
    .skills img {
        width: 100px;
    }
    .skills h1 {
        margin: 0;
    }
}
